@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Facilis foi desenvolvido para facilitar a organização de eventos. É uma plataforma simples e é fácil de utilizar. Cadastre-se e comece a criar eventos ou participar de eventos de outros usuários.</p>
@Html.Partial("Contact")
