@{
    ViewBag.Title = "Alteração de senha";
}
<hgroup class="title">
    <h2>E-mail enviado com sucesso.</h2>
</hgroup>
<div>
    <p>
        Por favor, verifique seu e-mail para trocar sua senha.
    </p>
</div>

