@model Facilis.MVC.ViewModels.ParticipanteViewModel

@{
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<h2>Cracha</h2>
<h3>@Model.EventoViewModel.Nome</h3>
<hr />
<h2>@Model.UsuarioViewModel.Nome</h2>
<h4>@Model.UsuarioViewModel.Sobrenome</h4>

