@model Facilis.MVC.ViewModels.ParticipanteViewModel

@{
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}
<div style="margin-left: 0px; margin-right: 0px; border: 2px solid #ddd;">
    <h3 style="margin: 0px">@Model.Evento.Nome</h3>
    <hr />
    <h2 style="margin-bottom: 0px; text-align: center; font-size: 35px">@Model.Usuario.Nome</h2>
    <h4 style="margin-top: 0px; text-align: center; font-size: 25px">@Model.Usuario.Sobrenome</h4>
</div>
