@model IEnumerable<Facilis.MVC.ViewModels.ParticipanteViewModel>
@{
    ViewBag.Title = "RelatorioPorSexo";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<h2>RelatorioPorSexo</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioViewModel.Sexo)
        </th>
        <th>
            @Html.DisplayText("Quantidade")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioViewModel.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
        </tr>
    }

</table>

