@model IEnumerable<Facilis.MVC.ViewModels.VideoViewModel>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <a href="@item.URL" class="btn btn-success" data-toggle="tooltip" data-placement="auto" title="Ver vídeo" target="_blank">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }

</table>
