<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatorio</title>
    <style>
        .container {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #333333;
            min-height: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .table {
            width: 100%;
            margin-bottom: 20px;
            max-width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            border-color: grey;
            background-color: #fff !important;
            border-collapse: collapse !important;
        }

        .th {
            padding: 8px;
            border-top: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
        }

        .td {
            padding: 8px;
        }

        .page-header {
            margin: 40px 0 0;
            border-bottom: 1px solid #eeeeee;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
        }

        .evento {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            font-weight: 500;
            padding-bottom: 9px;
            font-size: 25px;
        }

        .total {
            border-top: 1px solid #ddd !important;
        }

        .totalTexto {
            text-align: center;
        }

        .usuario {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            font-weight: 500;
            padding-bottom: 9px;
            font-size: 55px;
        }

        .titulo-certificado {
            margin: 40px 0 0;
            border-bottom: 1px solid #eeeeee;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 70px;
        }

        .borda-certificado
        {
            background-image: url(../../fonts/Icones/bonito.png);
            border: 1px double #f00; 
            border-radius:2px;
        }

        .cracha {
            border-top: 1px solid #ddd !important;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>

</html>